<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>  
        <h1>Hello This is profile page.</h1>
        <a href ="{% url 'logout' %}">Logout Button</a>
        <a href ="{% url 'password_change' %}">Change Password</a>
    </body>
</html>